:root{
    --primarycolor:rgb(71, 91, 205);
    --primarylightcolor:rgb(198, 224, 190);
    --secondarycolor: rgb(103, 153, 220)
}

.titlebg{
    background-color: var(--primarylightcolor);
}
.header-logo{
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-item a:hover{
    color: rgba(172, 84, 30, 0.831);
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
    padding: 10px;
}

.map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(142, 148, 104, 0.752);
}
.livestreaminginfo{
    background-color: var(--primarylightcolor);
}
.message{
    background-color: rgba(233, 224, 211, 0.816);
}

.buildingproject{
    background-color: rgba(239, 198, 111, 0.708);
}

.img-vision{
    filter: blur(6px);
}
.card-body:hover{
    box-shadow: 0px 0px 8px 6px rgb(215, 179, 19);
    border: cornflowerblue solid 6px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-inner > .carousel-item > img{
    width: 100%;
    height: 600px;
    object-fit: contain;
}
