*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{
    width: 100%;
    display: block;
}
.square_circle{
    width: 100px;
    height: 100px;
    background-color: purple;
    transition: ease-in-out 800ms;
}
.square_circle:hover{
    border-radius: 50%;
    background-color: aqua;
}
/* zoom effect */
.zoomcontainer, .slidecontainer{
    width: 500px;
    position: relative; 
}
.zoomcontent, .slidecontent{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(50,50,50,0.7);
    text-align: center;
    padding-top: 30%;
    color: white;
    font-size: 3em;
    transform: scale(0);
    transition: ease-in-out 1s;
}

.zoomcontainer:hover .zoomcontent{
    transform: scale(1);
}
.slidecontent{
    transform: translateX(500px);
}

.slidecontainer{
    overflow: hidden;
}

.slidecontainer:hover .slidecontent{
    transform: translateX(0px);
}

.card, .cardslide{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px black;
    transition: ease-in-out 500ms;
    margin: 30px;
}

.card:hover{
    transform: scale(0.95);
    box-shadow: none;
}

.cardslide:hover{
    transform: translateY(-10px) ;
    box-shadow: 0px 10px 5px black;
}

/* flex container */

.flexcontainer{
    background-color: lightsalmon;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
}

/* grid layout*/

.gridcontainer{
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    grid-template-rows: 3fr 1fr 4fr;
    gap: 10px;
    background-color: antiquewhite;
    height: 500px;
}

.item{
background-color: aqua;
text-align: center;
padding: 20px;
border: solid black 1px;
}

.gridsection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*more grid properties*/

.sectioncontainer{
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar content sidebar"
    "footer footer footer"
}

.header, .sidebar, .content, .footer{
    padding: 2rem;
    text-align: center;
}

.header{
    background-color: aqua;
    grid-area: header;
}

.sidebar{
    background-color: blueviolet;
    grid-area: sidebar;
} 

.content{
    background-color: greenyellow;
    grid-area: content;
}

.footer{
    background-color: pink;
    grid-area: footer;
}

/* navigation tabs*/

.navcontainer{
    position: fixed;
    top: 0%;
    background-color: rgba(50,50,50,0.7);
    width: 100%;
    display: flex;
    justify-content: center;
}

.navlink{
    text-align: center;
    padding: 1rem;
    display: inline-block;
    color: white;
}

.collapsenavbars{
    display: none;
    padding: 1rem;
    color: aliceblue;
}

/* media query*/

@media only screen and (max-width:1150px) {
    .flexcontainer{background-color: aqua;}
    .cardslide{
        width: 500px;
    .gridcontainer{
        grid-template-columns: 3fr 2fr;}
    }
}

@media only screen and (max-width: 800px){
    .flexcontainer{background-color: purple;}
    .cardslide{width: 90%; margin: 5%;}
    .gridcontainer{grid-template-columns: 1fr;}
    .collapsenavbars{display: inline-block;}
    .navbars{display: none;}
}

/**/
/* LAB 5 EXERCISE */

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 218, 140);
    color: #831b1b;
}
.header-image{
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    justify-content: center;
}

header{
    background-color: #60a1d6;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(128, 37, 37, 0.547);
}

.navbarhorizontal{
    background-color: rgb(113, 93, 16);
}
.navbarhorizontal a{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 24.5% ;
    padding: 20px;
}

.navbarhorizontal a:hover{
    background-color: rgb(25, 186, 49);
    font-weight: bolder;
    text-decoration: underline;
    font-size: 30px;
}

.header-title{
    padding: 10px;
    font-size: 1.5em;
    color: #8d1ea8;
}

@media(max-width:768px){
.header{
    flex-direction: row;
    text-align: center;
}
.header-title{
    text-align: center;
    font-size: 2em;
}
}

.content{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    padding: 30px;
    max-width: 1200px;
    margin: 20px auto;
}

.card{
    background-color: #dbcbcb;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.card:hover{
    box-shadow: 0px 0px 8px 6px rgb(4, 197, 107);
    border: crimson solid 8px;
    text-decoration: underline;
    font-weight: bold;
    box-shadow: #bec5c0 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #a4aca7;
    background-color: rgba(161, 117, 142, 0.808);
}

.card p{
    color: #67406a;
    font-weight: bold;
    font-size: 1em;
}

